@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* shared style */
:root {
    --primary-color: #FF5400;
}

body {
    font-family: "Mulish", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

.common-heading {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

.common-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary1 {
    width: 130px;
    height: 43px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    border: 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}


/* header styles */
/* nav styles */

.nav {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-part1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav .nav-part1 img {
    width: 60px;
    height: 45px;
}

.nav .nav-part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.nav-part2 li {
    list-style: none;
}

.nav-part2 a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
}

#travel,
#home {
    color: var(--primary-color);
}

/* banner styles */
.banner {
    width: 1000px;
    height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13.png');
    background-repeat: no-repeat;
    background-position: center;
}

.banner h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding-top: 85px;
}

.banner p {
    color: #FFF;
    text-align: center;
}

.banner-inputs {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 60px 150px;
}

.input1 {
    width: 140px;
    height: 25px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    border: 0;
    margin: 15px;
    padding: 10px;
}

#input2,
#input3 {
    width: 150px;
    height: 43px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    border: 0;
    margin-right: 15px;
    padding: 10px;
}

.btn-primary2 {
    width: 150px;
    height: 43px;
    border-radius: 8px;
    background: var(--primary-color);
    color: #FFF;
    border: 0;
    padding: 10px;
    cursor: pointer;
}


/* main styles */
/* popular tours style */
main section {
    margin-top: 100px;
}

.popular-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.popular-image img {
    width: 500px;
}

/* destinations style */
.destination-contents {
    text-align: center;
    margin-bottom: 50px;
}

.destinations .destination-images .row {
    height: 250px;
    display: flex;
    gap: 13px;
    margin-bottom: 13px;
}



















/* responsive styles */
/* mobile device */

@media screen and (max-width: 600px) {
    .nav {
        margin-top: 20px;
        flex-direction: column;
    }

    .nav .nav-part2 {
        flex-direction: column;
    }

    .banner {
        width: 100%;
    }

    .banner h1 {
        font-size: 3rem;
        font-weight: 700;
        padding-top: 40px;
    }

    .banner h1,
    .banner p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner-inputs {
        margin: 60px 100px;
    }

    .input1 {
        width: 235px;
        margin-bottom: 10px;
    }

    #input2,
    #input3 {
        width: 255px;
        margin-left: 14px;
        margin-bottom: 10px;
    }

    .btn-primary2 {
        width: 255px;
        margin-left: 13px;
        margin-bottom: 15px;
    }

    .popular-tours {
        flex-direction: column;
    }

    .popular-content {
        padding: 20px;
    }

    .popular-image img {
        width: 100%;
    }

    .destinations .destination-images .row {
        flex-direction: column;
        height: auto;
    }

    .destinations .destination-images .row img {
        width: 100%;
    }
}


/* tablet */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .nav {
        margin-top: 20px;
        flex-direction: column;
    }

    .banner {
        width: 100%;
    }

    .banner h1 {
        font-size: 3rem;
        font-weight: 700;
        padding-top: 40px;
    }

    .banner h1,
    .banner p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .input1 {
        width: 235px;
        margin-bottom: 10px;
    }

    #input2,
    #input3 {
        width: 255px;
        margin-left: 14px;
        margin-bottom: 10px;
    }

    .btn-primary2 {
        width: 255px;
        margin-left: 13px;
        margin-bottom: 15px;
    }

    .popular-tours {
        flex-direction: column;
    }

    .popular-content {
        padding: 20px;
    }

    .popular-image img {
        width: 100%;
    }

    .destinations .destination-images .row {
        flex-direction: column;
        height: auto;
    }

    .destinations .destination-images .row img {
        width: 100%;
    }
}